<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.singh.Groz247"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application


        android:allowBackup="true"
        android:icon="@drawable/logotrail"
        android:label="@string/app_name"
        android:theme="@style/ActualTheme" >
        <activity
            android:name="com.example.singh.Groz247.Splash_Screen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.singh.Groz247.Category_list"
            android:icon="@drawable/logocart"
            android:label="@string/title_activity_category_list" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.example.singh.Groz247.Checkout_Details"
            android:icon="@drawable/abc_ic_ab_back_mtrl_am_alpha"
            android:label="@string/Activity_User_details" >
        </activity>
        <activity
            android:name="com.example.singh.Groz247.Product_show_Activity"
            android:icon="@drawable/abc_ic_ab_back_mtrl_am_alpha"
            android:label="@string/title_activity_product_show_" >
        </activity>
        <activity
            android:name="com.example.singh.Groz247.Cart"
            android:icon="@drawable/abc_ic_ab_back_mtrl_am_alpha"
            android:label="@string/title_activity_cart" >
        </activity>
        <activity
            android:name="com.example.singh.Groz247.e_mail_verification"
            android:icon="@drawable/abc_ic_ab_back_mtrl_am_alpha"
            android:label="@string/title_activity_e_mail_verification" >
        </activity>
        <activity
            android:name="com.example.singh.Groz247.ChooseTimeSlot"
            android:label="@string/title_activity_choose_time_slot" >
        </activity>
        <activity
            android:name="com.example.singh.Groz247.Search_activity"
            android:label="@string/title_activity_search_activity" >
        </activity>
    </application>

</manifest>
